img {
    width: 30%;
    float: left;
    margin: 1.66%; 
}
p {
    border-bottom: 2px solid #F1f1f1;
    font-family: 'Lexend Peta', 'sans-serif';
    font-size: 23px;
    font-weight: 800;
    margin-left: 1.66%;
    padding-bottom: 20px;
    text-transform: uppercase;
    width: 30%;
}


