body{
    background: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
    font-weight: normal;
    text-transform: uppercase;
}
h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    padding: 20px 0;
}
#colorDisplay {
    font-size: 200%;
}
#container {
    max-width: 600px;
    margin: 20px auto;
   
}
#stripe {
    background-color: white;
    height:30px;
    text-align: center;
    color: black;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    --moz-transition: all 0.3s linear;
    outline: none;
}
button:hover {
    color: white;
    background: steelblue;
}
#message {
    display: inline-block;
    width: 20%;
}
.square {
    border-radius: 15%;
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .4s;
    --webkit-transition: background .4s;
    --moz-transition: background .4s;

}
.selectedBtn {
    color: white;
    background: steelblue;
}